[submodule "server"]
	path = server
	url = https://github.com/BinetReseau/chocapix-server
	branch = develop
[submodule "client"]
	path = client
	url = https://github.com/BinetReseau/chocapix-client
	branch = develop
